alembic==1.17.2
asyncpg==0.30.0
email-validator==2.2.0
fastapi==0.120.4
fastapi-cli==0.0.16
psycopg2==2.9.11
pydantic==2.11.10
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-dotenv==1.2.1
redis==5.3.1
requests==2.32.5
sqlalchemy==2.0.44
uvicorn==0.38.0